.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#daftar {
  text-align: left;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 5px solid rgb(170,170,170);
  width: 100%;
  color: black;

}

#daftar td, #daftar th {
  border: 2px solid #ddd;
}

#daftar tr:nth-child(even){background-color: #FF7F50;}
#daftar tr:nth-child(odd){background-color: #FF7F50;}

#daftar tr:hover {background-color: #ddd;}

#daftar th {
  text-align: center;
  background-color: rgb(170,170,170);
  color: black;
}
